# 1)

In [28]:
def fibonacci(n):
    if n < 0:
        print("Incorrect input")

    elif n == 0:
        return 0
    elif n == 1 or n == 2:
        return 1

    else:
        return Fibonacci(n - 1) + Fibonacci(n - 2)

n=int(input("enter a no "))
fibonacci(n)

enter a no 7

13

# 2)

In [29]:
def factt(n):
    if (n==0 or n==1):
        return 1
    else:
        return(n*(factt(n-1)))

        
n=int(input("enter a no:"))
print(factt(n))

enter a no:5
120

# 3)

In [30]:
h=int(input("enter your height in cm "))
w=int(input("enter your weight in kg "))
bmi=w/(h*h)*10000
print(bmi)

enter your height in cm 165
enter your weight in kg 57
20.9366391184573

# 4)

In [31]:
import math
try:
    l=int(input("enter a no "))
    print("natural log of ",l,"= ",math.log(l))
except Exception as e:
    print(e)

enter a no 45
natural log of  45 =  3.8066624897703196

# 5)

In [34]:
l=int(input("enter a no "))
print("sum of cube of first ",l,"numbers is ",((l*(l+1))/2)**2)

enter a no 100
sum of cube of first  100 numbers is  25502500.0